<% - include('include/_header') %>

    <form action="/api/users" method="POST" id="add_user">
        <div>
            <div class="row m-5">
                <div class="col-4 m-2">
                    <div class="text-center">
                        <img src="./smiley.png" id="user" class="rounded" alt="" width="100px">
                    </div>
                </div>
                <div class="col-7 m-3">
                    <div class="row">
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="text" class="form-control" id="name" value="" placeholder="Dheeraj">
                            <label for="name">Full Name</label>
                        </div>
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="email" class="form-control" id="email" value="" placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="number" class="form-control" id="phone" value="" value="" placeholder="123456789">
                            <label for="phone">Phone Number</label>
                        </div>
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="text" class="form-control" id="country" value="" placeholder="Pakistan">
                            <label for="country">Country</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="text" class="form-control" id="state" value="" placeholder="Sindh">
                            <label for="state">State/Region</label>
                        </div>
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="text" class="form-control" id="city" value="" placeholder="Sukkur">
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="text" class="form-control" id="address" value="" placeholder="Sukkur iba">
                            <label for="address">Address</label>
                        </div>
                        <div class="form-floating mb-3 col-5 m-2">
                            <input type="text" class="form-control" id="zip" value="" placeholder="65200">
                            <label for="zip">Zip/Code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-8">
                            <div class="form-group">
                                <button type="submit" class="btn text-dark btn-primary update">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <% - include('include/_footer') %>